<h1>The Team</h1>
<p>
  <a href="http://stanford.edu">CEO</a>
  Mr. Ng is graduated from Stanford University in Liberal Art.
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the sample application for the tutorial.
</p>